body{
    display: flex row;
    background-color: darkgray;
    justify-content: space-between;
}
#qui{
height: 100px;
width: 150px;
}
#luke{
    height: 100px;
    width: 150px;
}
#vader{
    height: 100px;
    width: 150px;
}
#maul{
    height: 100px;
    width: 150px;
}
button{
    border: 5px solid green;
}
.select-container{
    display: flex;
}
.heroContainer{
    padding: 10px 20px 40px 20px;
    border: 5px solid green;
    height:100px;
    width: 150px;
    background-color: lightgray;
    text-align: center;
    margin-right: 10px;
}
.flex-center{
    display:flex;
    justify-content: center;
}
.title{
    font-size: 40px;
    flex: 0 0 50%;
    text-align: center;
}
.player{
    height: 200px;
}
.possibleEnemy{
    display: flex;
    height: 175px;
}
.gameText{
font-size: 25px;
font-weight: 200;

}
.attackBtn{
    width: 60px;
    background-color: lightgray;
    border: 3px solid black;
}
.attackBtn p{
    font-size: 20px;
    cursor: pointer;
}
/* .enemy{
    display: flex;
} */